files:
    "/sbin/appstart":
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
            #!/usr/bin/env bash
            JAR_PATH=/var/app/current/application.jar

            # rup app
            pkill -f java
            java -Dfile.encoding=UTF-8 -Dspring.profiles.active=develop -jar $JAR_PATH

# procfile은 web process 진입점 한줄 짜리 명령어 밖에 못하기 때문에 세부 설정을 못해줌
# 현재 파일을 실행해 세부 설정을 할 수 있음
# 배포 했을 때 이전 자바를 종료하고 새 스크립트 실행 -> 헬스체크 -> 재배포 완료

